%meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
%link(rel="icon" type="image/png" href="/images/favicon.ico")
%link(rel="stylesheet" href="//yui-s.yahooapis.com/pure/0.6.0/pure-min.css")
%link(rel="stylesheet" href="/css/style.css")
%link(rel="stylesheet" href="/css/rateit.css")
%link(rel="stylesheet" href="/css/jquery.timepicker.css")

%script(src="/js/ui.js")
%script(src="//www.google.com/jsapi")
%script(src="/js/chartkick.js")
%script(src="//code.jquery.com/jquery-1.11.0.min.js")
%script(src="/js/jquery.rateit.min.js")
%script(src="/js/hammer.min.js")
%script(src="/js/jquery.timepicker.min.js")
