!!!
%html
  %head
    %title Ciber Developer Update
    = haml :"templates/header_imports"
    -green = '#821CB4'
    -purple = '#B3DB11'
  %body
    = haml :"templates/nav"
    .container
      .col-lg-6
        %h1
          Okay...one of us has done something wrong...
      .col-lg-2
        %img{:src => "/images/oh-yeah.jpg", :alt => "404 image of Ryan Gosling"}
