!!!
%html
  %head
    %title
      = t.title
      = haml :'header_imports'
  %body
    #layout
      / Menu toggle
      %a#menuLink.menu-link{:href => "#menu"}
        / Hamburger icon
        %span
      #menu
        .pure-menu
          %ul.pure-menu-list
            %li.pure-menu-item
              %a.pure-menu-link{:href => "/"}
                = t.oops.menu.home

      #main
        .header
        .content
          = t.oops.content
          %img{:src => "/images/oh-yeah.jpg", :alt => t.opps.image_alt}
